@charset 'utf-8'

//variable
xs= 300; // Extra small screen
sm = 544px; // small screen like phone
md = 768px; // medium screen
lg = 992px; // large screen like pc desktop
xl = 1200px; // Extra large screen

grid-columns= 12; // The number of grid
grid-gutter-width= 1.875rem; // The gutter width of per grid

@import common
@import grid



